@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
    --clr-secundary: #29fd53;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
    background: #fff;
}

.navigation {
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 70px;
    background: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s;
    color: #fff;
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--clr);
    border-radius: 50%;
    border: 6px solid var(--clr-secundary);
    transition: .5s;
}


.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}


@media screen and (max-width: 400px) {
    .navigation {
        height: calc(87.5vw / 5);
        border-radius: 10px 10px 0 0;
    }

    .navigation ul {
        width: 87.5vw;
    }

    .navigation ul li {
        width: calc(87.5vw / 5);
        height: calc(87.5vw / 5);
    }

    .navigation ul li.active a .icon {
        transform: translateY(calc(87.5vw / -10));
    }

    .navigation ul li.active a .text {
        transform: translateY(5px);
    }
    .navigation ul li a .icon {
        position: relative;
        line-height: calc(100vw / 5);
    }
    .indicator {
        position: absolute;
        width: calc(87.5vw / 5);
        height: calc(87.5vw / 5);
        background: var(--clr-secundary);
        border-radius: 50%;
        border: 6px solid var(--clr);
        transition: .5s;
    }
    .navigation ul li:nth-child(1).active ~ .indicator {
        transform: translateX(calc((87.5vw / 5) * 0));
    }
    
    .navigation ul li:nth-child(2).active ~ .indicator {
        transform: translateX(calc((87.5vw / 5) * 1));
    }
    
    .navigation ul li:nth-child(3).active ~ .indicator {
        transform: translateX(calc((87.5vw / 5) * 2));
    }
    
    .navigation ul li:nth-child(4).active ~ .indicator {
        transform: translateX(calc((87.5vw / 5) * 3));
    }
    
    .navigation ul li:nth-child(5).active ~ .indicator {
        transform: translateX(calc((87.5vw / 5) * 4));
    }
    
    
}